.checkoutProduct{
    display: flex;
}
.checkoutProduct > img{
    object-fit: contain;
    width: 180px;
    height: 180px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.checkoutProduct__info{
    padding-left: 20px;
}
.checkoutProduct__info > button{
    background-color: #cd9042;
    border: 1px solid;
}
.checkoutProduct__rating{
    display: flex;
}
.checkoutProduct__title {
    font-size: 17px;
    font-weight: 700;
}